@import url("pygment.css");

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Roboto Slab", serif;
  color: #e0e0e0;
  background-color: #181818;
}

h1,
h2,
h3,
h4,
h5,
h6,
time {
  font-family: "Ruda", sans-serif;
  color: #f5f5f5;
}

#container {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#container>* {
  width: 700px;
  margin: 0 auto;
}

@media only screen and (max-width: 800px) {
  #container>* {
    width: auto;
    margin: 0 1.2em;
  }
}

#container header {
  margin-bottom: 1em;
}

#container header h1 a {
  color: #ffffff;
  font-size: 2.8rem;
}

#container header ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
}

#container header ul li {
  margin-left: 1em;
}

@media only screen and (max-width: 800px) {
  #container header ul {
    float: none;
  }

  #container header ul li {
    margin: 0 1em 0 0;
  }
}

#container nav {
  border-bottom: solid 3px #333333;
  padding-bottom: 0.5em;
  font-family: "Ruda", sans-serif;
}

#container nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

#container nav ul li {
  display: flex;
  flex-direction: column-reverse;
  margin-left: 1em;
  align-items: end;
}

#container nav ul li a.active {
  border-bottom: 0.4em solid #888888;
}

#container main {
  flex: 1 0 0;
  line-height: 1.5;
  font-size: 1rem;
  color: #e0e0e0;
}

#container main section#home span {
  color: #bbbbbb;
}

#container p a {
  font-style: italic;
  text-decoration: underline;
  text-decoration-style: dotted;
  color: #cccccc;
}

#container main section#list ul li {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 0;
  border-bottom: 1px solid #333333;
}

#container main section#list ul li:last-child {
  border-bottom: none;
}

#container main section.post-nav {
  margin: 0.5em 0;
  padding: 0.5em 0;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #333333;
  font-size: 0.9em;
}

#container main article pre,
#container main section pre {
  background-color: #252525;
  overflow-x: auto;
  padding: 0.8em 0.1em 0.8em 0.8em;
  font-size: 0.8em;
  box-shadow: 0 -1px 0 #444444 inset;
}

#container main article pre code,
#container main section pre code {
  font-size: 1em;
  color: #f8f8f2;
}

#container main article p code,
#container main section p code {
  padding: 0.2em;
  background-color: #252525;
  font-size: 0.8em;
  color: #f8f8f2;
}

#container main article p kbd,
#container main section p kbd {
  display: inline-block;
  padding: 0.2em 0.3em;
  font-size: 0.8em;
  background-color: #252525;
  color: #cccccc;
  border-color: #444444;
  border-radius: 3px;
  box-shadow: 0 -1px 0 #444444 inset;
}

#container footer {
  border-top: solid 1px #333333;
}

#container footer h6 {
  font-size: 0.8em;
  color: #aaaaaa;
}

.meta-aside,
#container main section#home ul li aside,
#container main article aside {
  margin: 0.5em 0;
  font-family: "Ruda", sans-serif;
  color: #aaaaaa;
  font-size: 0.8em;
}

a {
  color: #cccccc;
  text-decoration: none;
}

.image,
figure img,
img {
  width: 100%;
  box-shadow: 0 3px 3px #000000;
}

.full-image,
figure.full img,
img[src*="full"] {
  width: 100%;
}

@supports (width: 100vw) {

  .full-image,
  figure.full img,
  img[src*="full"] {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
}

.mid-image,
figure.mid img,
img[src*="mid"] {
  width: 100%;
}

@supports (width: 100vw) {

  .mid-image,
  figure.mid img,
  img[src*="mid"] {
    width: 800px;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -400px;
    margin-right: -400px;
  }
}

blockquote {
  margin: 1em;
  border-left: solid 0.1em #444444;
  padding: 0.5em 2em;
  position: relative;
  background-color: #202020;
  box-shadow: 0 -1px 0 #333333 inset;
  color: #cccccc;
}

blockquote::before {
  content: "\f10d";
  font-size: 3em;
  font-family: "FontAwesome";
  color: rgba(255, 255, 255, 0.1);
  position: absolute;
  left: 6px;
  top: 0;
}

table thead {
  background-color: #333333;
  color: #eeeeee;
}

ul.pagination li.active {
  font-weight: bold;
  color: #ffffff;
}