/* .highlight  { background: #eeffcc; } */
.highlight .hll {
  background-color: #ffffcc;
}
.highlight .c {
  color: #75715e;
  font-style: italic;
} /* Comment */
.highlight .k {
  color: #f92672;
  font-weight: bold;
} /* Keyword */
.highlight .o {
  color: #f92672;
} /* Operator */
.highlight .cm {
  color: #75715e;
  font-style: italic;
} /* Comment.Multiline */
.highlight .cp {
  color: #f92672;
} /* Comment.Preproc */
.highlight .c1 {
  color: #75715e;
  font-style: italic;
} /* Comment.Single */
.highlight .cs {
  color: #75715e;
  background-color: #000000;
} /* Comment.Special */
.highlight .gd {
  color: #a00000;
} /* Generic.Deleted */
.highlight .ge {
  font-style: italic;
} /* Generic.Emph */
.highlight .gr {
  color: #ff0000;
} /* Generic.Error */
.highlight .gh {
  color: #000080;
  font-weight: bold;
} /* Generic.Heading */
.highlight .gi {
  color: #00a000;
} /* Generic.Inserted */
.highlight .go {
  color: #303030;
} /* Generic.Output */
.highlight .gp {
  color: #c65d09;
  font-weight: bold;
} /* Generic.Prompt */
.highlight .gs {
  font-weight: bold;
} /* Generic.Strong */
.highlight .gu {
  color: #800080;
  font-weight: bold;
} /* Generic.Subheading */
.highlight .gt {
  color: #0040d0;
} /* Generic.Traceback */
.highlight .kc {
  color: #f92672;
  font-weight: bold;
} /* Keyword.Constant */
.highlight .kd {
  color: #f92672;
  font-weight: bold;
} /* Keyword.Declaration */
.highlight .kn {
  color: #f92672;
  font-weight: bold;
} /* Keyword.Namespace */
.highlight .kp {
  color: #f92672;
} /* Keyword.Pseudo */
.highlight .kr {
  color: #f92672;
  font-weight: bold;
} /* Keyword.Reserved */
.highlight .kt {
  color: #f92672;
} /* Keyword.Type */
.highlight .m {
  color: #ae81ff;
} /* Literal.Number */
.highlight .s {
  color: #e6db74;
} /* Literal.String */
.highlight .na {
  color: #e6db74;
} /* Name.Attribute */
.highlight .nb {
  color: #f92672;
} /* Name.Builtin */
.highlight .nc {
  color: #ff8300;
  font-weight: bold;
} /* Name.Class */
.highlight .no {
  color: #60add5;
} /* Name.Constant */
.highlight .nd {
  color: #555555;
  font-weight: bold;
} /* Name.Decorator */
.highlight .ni {
  color: #d55537;
  font-weight: bold;
} /* Name.Entity */
.highlight .ne {
  color: #f92672;
} /* Name.Exception */
.highlight .nf {
  color: #6994ff;
} /* Name.Function */
.highlight .nl {
  color: #3770ff;
  font-weight: bold;
} /* Name.Label */
.highlight .nn {
  color: #ff8300;
  font-weight: bold;
} /* Name.Namespace */
.highlight .nt {
  color: #286cff;
  font-weight: bold;
} /* Name.Tag */
.highlight .nv {
  color: #bb60d5;
} /* Name.Variable */
.highlight .ow {
  color: #f92672;
  font-weight: bold;
} /* Operator.Word */
.highlight .w {
  color: #777777;
} /* Text.Whitespace */
.highlight .mf {
  color: #ae81ff;
} /* Literal.Number.Float */
.highlight .mh {
  color: #ae81ff;
} /* Literal.Number.Hex */
.highlight .mi {
  color: #ae81ff;
} /* Literal.Number.Integer */
.highlight .mo {
  color: #ae81ff;
} /* Literal.Number.Oct */
.highlight .sb {
  color: #e6db74;
} /* Literal.String.Backtick */
.highlight .sc {
  color: #e6db74;
} /* Literal.String.Char */
.highlight .sd {
  color: #e6db74;
  font-style: italic;
} /* Literal.String.Doc */
.highlight .s2 {
  color: #e6db74;
} /* Literal.String.Double */
.highlight .se {
  color: #e6db74;
  font-weight: bold;
} /* Literal.String.Escape */
.highlight .sh {
  color: #e6db74;
} /* Literal.String.Heredoc */
.highlight .si {
  color: #e6db74;
  font-style: italic;
} /* Literal.String.Interpol */
.highlight .sx {
  color: #c65d09;
} /* Literal.String.Other */
.highlight .sr {
  color: #235388;
} /* Literal.String.Regex */
.highlight .s1 {
  color: #e6db74;
} /* Literal.String.Single */
.highlight .ss {
  color: #517918;
} /* Literal.String.Symbol */
.highlight .bp {
  color: #f92672;
} /* Name.Builtin.Pseudo */
.highlight .vc {
  color: #bb60d5;
} /* Name.Variable.Class */
.highlight .vg {
  color: #bb60d5;
} /* Name.Variable.Global */
.highlight .vi {
  color: #bb60d5;
} /* Name.Variable.Instance */
.highlight .il {
  color: #ae81ff;
} /* Literal.Number.Integer.Long */
